#container
{
    font-family: monospace;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
button
{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: rgb(80, 107, 107);
    color: white;
    cursor: pointer;
}
button:hover
{
    background-color: aquamarine;
}
button:active
{
    background-color: aquamarine;
}
input
{
    font-size: 2rem;
    width: 150px;
    text-align: center;
}
#diceResult
{
    margin:25px;
}
#diceImages img
{
    width: 150px;
    margin: 5px;
}